body {
    font-family: 'Thasadith', sans-serif;
    text-align: center;
    margin: auto;
    background: url("../images/background.jpg");    background-size: auto;
}
header {
    letter-spacing: 4px;
    color: white;
    position: fixed;
    top: 0px;
    font-family: 'Wire One', sans-serif; font-size: 35px;
    background: rgb(44, 44, 44);
    width: 100%;
}
#time-remaining {
    font-weight: bold;
    font-size: 30px;
}
.question {
    color: white;
    margin: auto;
    width: 90%;
    font-size: 18px;
    font-weight: bold;
}
h1 {
    padding: 0px;
    margin: 10px;
}
.button {
    letter-spacing: 2px;
    font-family: 'Wire One', sans-serif; 
    color:white;
    background: rgb(44, 44, 44);
    font-size: 30px;
    padding: 5px 15px 5px 15px;
    border-bottom: grey solid 2px;
    border-right: grey solid 2px;
}
#done-button {
    margin: 0px 0px 60px 0px;
}
#start-button {
    
    margin: 0px 0px 40px 0px;
}
#restart-button {
    letter-spacing: 2px;
    font-family: 'Wire One', sans-serif; 
    color: white;
    background: rgb(44, 44, 44);;
    font-size: 30px;
    padding: 5px 15px 5px 15px;
    border-bottom: grey solid 2px;
    border-right: grey solid 2px;
}
form {
    color: white;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 90%;
}